{% extends 'todoapp/layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Мій менеджер задач</h1>
    <h3 class="test_style">Розподіляй свій час</h3>
    <form class="ui form" action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Нова задача</label>
            <input type="text" name="title" placeholder="Введіть назву"><br>
        </div>
        <button class="ui teal basic button" type="submit">Додати</button>
    </form>

{% for todo in todolist %}
<div class="ui segment">
    <p class="ui big header">№{{ todo.id }} {{ todo.title }}</p>

    {% if todo.is_complete == False %}
    <span class="ui gray label">Not finished</span>
    <a class="ui primary basic button" href="{% url 'update' todo_id=todo.id %}">Done</a>
    {% else %}
    <span class="ui green label">Finished</span>
<!--    <a class="ui blue button" href="{% url 'update' todo_id=todo.id %}">Open</a>-->
    {% endif %}
    <a class="ui negative basic button" href="{% url 'delete' todo_id=todo.id %}">Delete</a>
</div>
{% endfor %}
</div>

{% endblock content %}